@media (max-width: 375px) {
  #title {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem !important;
  }

  .attribution {
    display: none;
  }
}

@font-face {
  font-family: 'Hanken Grotesk-Medium';
  src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
  font-weight: 500;
}

* {
  font-family: 'Hanken Grotesk-Medium', sans-serif;
  font-size: 18px;
}

.mn-body {
  height: 100vh;
}

.mn-container {
  border-radius: 1.5rem;
  width: 650px;
}

/* START of CSS for the left column  */
#column-left {
  border-radius: 1.5rem;
  background-image: linear-gradient(
    hsla(252, 100%, 67%, 1),
    hsl(241, 81%, 54%)
  );
  color: hsl(0, 0%, 100%);
}

.score-circle {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 150px;
  height: 150px;
}
#score-total {
  font-size: 48px;
}

#score-max {
  margin-top: -10px;
}

#title,
#paragraph,
#score-max {
  color: hsla(0, 0%, 100%, 50%);
}
/* END of CSS for the left column  */

/* START of CSS for the right column  */
#score-reaction,
#score-memory,
#score-verbal,
#score-visual,
#score-total {
  font-weight: 600;
}

#stat-reaction {
  color: hsl(0, 100%, 67%);
}

.col-reaction {
  background-color: hsla(0, 100%, 67%, 5%);
}

#stat-memory {
  color: hsl(39, 100%, 56%);
}

.col-memory {
  background-color: hsla(39, 100%, 56%, 5%);
}

#stat-verbal {
  color: hsl(166, 100%, 37%);
}

.col-verbal {
  background-color: hsla(166, 100%, 37%, 5%);
}

#stat-visual {
  color: hsl(234, 85%, 45%);
}

.col-visual {
  background-color: hsla(234, 85%, 45%, 5%);
}

#mn-btn {
  background-color: hsl(224, 30%, 27%);
  border: none;
  color: hsl(0, 0%, 100%);
}

#mn-btn:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

/* END of CSS for the right column  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
